/** MAIN VIEW **/
$header-height: 50px;
$nav-width: 200px;

$header-index: 10;
$nav-index: 5;


$default-body-background: #DCEDFF;

$header-background: #0A2342;
$nav-background: lighten($header-background, 20%);
$content-background: #94B0DA;