.login-background {
  background: url('/image/background.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.login-container {
  text-align: center;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-div {
  width: 300px;
  padding: 25px;
  border-radius: 5px;
  background: #002;

  -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
}

.white-text {
  color: white;
}

.bold {
  font-weight: bold;
}

.login-section {
  padding: 10px 0 5px 0;
}

.signup-section {
  border: 1px solid whitesmoke;
  border-width: 1px 0 0 0;
  text-shadow: 1px 1px 15px darkblue;
}

.animate-show {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;

  opacity:1;
}

.animate-show.ng-hide {
  opacity:0;
}

.select-link {
  text-decoration: none;
  color: wheat;

  :hover {
    color: cornflowerblue;
  }
}